<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TwitterPositivity.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A55336951EBE4A2C00F9B776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A55336AC1EBE4A2D00F9B776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A55336B71EBE4A2D00F9B776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
